[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Rr]ecordings/
_UpgradeReport/
.vs/
.idea/
*.csproj
*.sln
*.suo
*.user
*.pidb
*.booproj
*.unityproj
*.DS_Store
sysinfo.txt
*.apk
*.aab
*.app
*.wasm
*.framework.js
/wechat-minigame/
/Packages/com.qq.weixin.minigame/
/Packages/com.qq.weixin.minigame/
